<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>C</key>
    <dict>
      <key>A</key>
      <integer>5</integer>
    </dict>
    <key>K</key>
    <dict>
      <key>A</key>
      <integer>-18</integer>
      <key>O</key>
      <integer>-22</integer>
    </dict>
    <key>L</key>
    <dict>
      <key>O</key>
      <integer>-25</integer>
      <key>T</key>
      <integer>-86</integer>
    </dict>
    <key>O</key>
    <dict>
      <key>Y</key>
      <integer>-22</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>A</key>
      <integer>-46</integer>
      <key>bullet</key>
      <integer>-67</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>A</key>
      <integer>-31</integer>
    </dict>
    <key>Y</key>
    <dict>
      <key>O</key>
      <integer>-22</integer>
      <key>a</key>
      <integer>-63</integer>
      <key>o</key>
      <integer>-54</integer>
    </dict>
    <key>colon</key>
    <dict>
      <key>slash</key>
      <integer>-25</integer>
    </dict>
    <key>f</key>
    <dict>
      <key>f</key>
      <integer>16</integer>
      <key>v</key>
      <integer>16</integer>
    </dict>
    <key>r</key>
    <dict>
      <key>a</key>
      <integer>-31</integer>
      <key>f</key>
      <integer>7</integer>
      <key>g</key>
      <integer>-25</integer>
      <key>t</key>
      <integer>3</integer>
    </dict>
    <key>slash</key>
    <dict>
      <key>slash</key>
      <integer>-113</integer>
    </dict>
    <key>t</key>
    <dict>
      <key>f</key>
      <integer>6</integer>
      <key>t</key>
      <integer>8</integer>
    </dict>
    <key>y</key>
    <dict>
      <key>o</key>
      <integer>-16</integer>
    </dict>
  </dict>
</plist>
